.App {
  display: flex;
  flex-direction: column;
  background: red;
  height: 100vh;
  text-align: center;
  font-family: 'Press Start 2P', cursive; }

.navButton {
  padding: 5px;
  background: #fff;
  border: 1px solid #db4d3f;
  box-shadow: 7px 7px 12px -6px rgba(0, 0, 0, 0.34);
  text-decoration: none;
  color: #db4d3f;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  outline: 0; }
  .navButton.active {
    color: #db4d3f;
    background: #222;
    border: 1px solid #db4d3f; }
