.Home {
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: all 0.5s ease;
  width: 100%; }
  .Home.routeTransition-enter, .Home.routeTransition-exit-active, .Home.routeTransition-exit {
    transform: translateX(-400px);
    opacity: 0; }
  .Home.routeTransition-enter-active, .Home.routeTransition-enter-done {
    transform: translateX(0);
    opacity: 1; }
